<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Admin Page</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <!-- <link href="/stylesheet/style.css" rel="stylesheet" type="text/css"> -->
  <link href="/stylesheet/style3.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container content hey">
  
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3 style="color: white;display: inline-block;" >Dashboard</h3>
          <a type="button" id="sidebarCollapseCross"  style="float: right;"><i class="fa fa-times"></i></a>
      </div>

      <ul class="list-unstyled components newNavBar">
        <li style="display: inline-flex; align-items: center; width: 100%; margin-bottom: 30px;">
            <a href="/" class="adminlogo"><img class="profile-pic"
              src="/images/LOGO-02.png"
              alt="Profile Pic"></a>
          <h2 class="adminname">
            <%= user.username %>
          </h2>
        </li>
        <hr style="background-color: #fff;">
        <li>
          <a style="color: white; " href="/">Home</a>
        </li>
        <hr style="background-color: #fff;">

        <li class="navContent dropdown">
          <a class="dropbtn" onclick="getdropdownlist()">All Ideas
            <i class="fa fa-caret-down" style="float: right;"></i>
          </a>
        </li>
        <div class="dropdown-content"  id="ideaDropdownlist">
          <li class="active navContent" onclick="showhide('pendingidea');">
            <a style="color: white; " href="#pendingidea">Pending ideas</a>
          </li>
          <li class="navContent" onclick="showhide('approvedidea');">
            <a style="color: white; " href="#approvedidea">Approved ideas</a>
          </li>
          <li class="navContent" onclick="showhide('sortlistedidea');">
            <a style="color: white; " href="#sortlistedidea">Sortlisted ideas</a>
          </li>
          <li class="navContent" onclick="showhide('selectedidea');">
            <a style="color: white; " href="#selectedidea">Selected ideas</a>
          </li>
          <li class="navContent" onclick="showhide('boostedidea');">
            <a style="color: white; " href="#boostedidea">Boosted ideas</a>
          </li>
          <li class="navContent" onclick="showhide('rejectedidea');">
            <a style="color: white; " href="#rejectedidea">Rejected ideas</a>
          </li>
          <li class="navContent" onclick="showhide('deletedidea');">
            <a style="color: white; " href="#deletedidea">Deleted ideas</a>
          </li>
          <hr style="background-color: #fff;">
        </div>
        <li class="navContent" onclick="showhide('proideas');">
          <a style="color: white; " href="#proideas">All Professional ideas</a>
        </li>
        <li onclick="showhide('entrepreneur');" class="navContent">
          <a style="color: white; " href="#entrepreneur">All Entrepreneur</a>
        </li>
        <li onclick="showhide('investor');" class="navContent">
          <a style="color: white; " href="#investor">All Investor</a>
        </li>
        <li onclick="showhide('report');" class="navContent">
          <a style="color: white; " href="#report">Funding Report</a>
        </li>
        <li onclick="showhide('faq');" class="navContent">
          <a style="color: white; " href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
      <div class="container">
        <% if(error && error.length> 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
          <% } %>
            <% if(success && success.length> 0) { %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
              <% } %>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
          </button>
          <a href="/adminlogout"><p class="btn btn-outline-black waves-effect filter">Logout</p></a>
        </div>
      </nav>
      <% var selectCategories = ["Accessories", "Activewear", "Bags / Suitcases", "Clothing", "Connected Apparel", "Footwear", "Intimates", "Jewelry & Watches", "Seasonal","Automotive", "Car Care & Detailing", "Emergency & Safety", "Exterior Accessories", "Interior Accessories", "Motorcycle", "Snow Removal", "Truck Accessories","Baby Gear", "Baby Wear", "Bath Care", "Diaper Solutions", "Feeding & Nutrition", "Furniture", "Health & Safety","Charging", "Party Host", "Charity: Water", "Holiday Decorations", "Doggie Dental", "Football", "New Year's Resolution", "Rideables", "Sharper Image Toy & Game","Adult Crafts", "DIY Kits", "Fabrics & Materials", "Kids Crafts","Audio", "Clocks", "Computer Accessories", "Cord & Cable Management", "Drones & Flying Objects", "Mobile Accessories", "Mobile Cases", "Mobile Power", "Music/Karaoke", "Optics/Photo Accessories", "Video Cameras & Accessories", "Wearable Tech","Agriculture", "Alcoholic Beverages", "Carbonated Beverages", "Coffee & Tea", "Juice", "Meal Replacement", "Meals", "Snacks","Cosmetics", "Diet & Nutrition", "Hair Care", "Medicine & Wellness", "Nail, Face & Body Care", "Personal Care","Building Supplies", "Electrical", "Hardware", "lighting", "Plumbing", "Tools","Appliances", "Bakeware & Baking Tools", "Bar", "Bathroom", "Bedding", "Decorative Accessories", "Dining & Entertaining", "Furniture", "Heating & Cooling", "Home Cleaning", "Kitchen Gadgets & Cutlery", "Laundry", "Patio Furniture", "Storage & Organization", "Trash & Recycling", "Window treatment","Beach & Pool", "Boating", "Camping", "Dining", "Grilling", "Lawn & Garden Tools", "Weather Equipment","Accessories", "Feeding", "Grooming", "Health", "Home", "Play", "Travel","Bikes & Cycling", "Fishing & hunting", "Fitness", "Fitness Tech", "Gym", "Sports", "Team Sports", "Yoga","Bikes, Scooters & Ride Ons", "Building", "Games", "Learning & Education", "Musical Instruments", "Party Products", "Preschool Toys", "Stuffed Animals & Dolls", "Superhero", "Vehicles & Remote Control", "Video Games & Systems","Wild Card", "As seen on TV", "Wild Card","Furniture", "Productivity", "Supplies", "Wellness", "Other"]; %>
      <section class="hide" id="pendingidea" style="display: block;">
        <div class="container sm-col-12">
          <div class="card">
            <div class="card-header info-color white-text text-center">
              <h1>Pending ideas</h1>
              <!-- <p>Sort by category</p> -->
              <!-- <select name="select_category" id="select_category"> -->
                <!-- <option value="">Select..</option> -->
                 <!-- selectCategories.forEach(cat_item => {  -->
                  <!-- <option value=" cat_item "> cat_item </option> -->
                <!--  })  -->
              <!-- </select> -->
            </div>
            <div class="card-body">
                        <div class="row" style="text-align:center; margin-bottom: 50px;">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-body text-center" style="text-align:center;justify-content:center;">
                              <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                                <table class="table" style="width:100%;text-align:center;margin:10px auto">
                                  <thead>
                                    <tr style="background-color:lightblue">
                                      <th>S No.</th>
                                      <th>Date</th>
                                      <th>idea Name</th>
                                      <th>Description(Details of Idea) </th>
                                      <th>Edit</th>
                                      <th>Upgrade</th>
                                      <th>Reject</th>
                                    </tr>
                                  </thead>
                    
                                  <tbody>
                                    <% var count = 1;ideas.forEach((idea,index)=> { %>
                                        <% var modal_number1='1modal' +(index+1); if(idea.status === 'Pending' && idea.deleted===false){ %>
                                          <tr>
                                            <td>
                                              <%= count %>
                                            </td>
                                            <td>
                                              <%= idea.date.toLocaleDateString("hi-IN") %>
                                            </td>
                                            <td onclick="modal_display('<%= modal_number1 %>')">
                                              <%= idea.name %>
                                            </td>
                                            <td style="max-width: 250px;">
                                              <%= idea.about %>
                                            </td>
                                            <td style="cursor:pointer"><a href="<%= '/idea/' + idea._id + '/edit' %>"
                                                class="btn btn-primary">Edit</a></td>
                                            <td style="cursor:pointer; font-size: 12px">
                                              <form action="<%= '/idea/' + idea._id + '/changeStatus?_method=PUT' %>" method="POST">  
                                                <input type="radio" name="status" value="Approved" style="display: none;" checked></input><button type="submit" class="btn btn-primary">Approve this idea</button>
                                              </form>
                                            </td>
                                            <td style="cursor:pointer; font-size: 12px">
                                              <form action="<%= '/idea/' + idea._id + '/reject?_method=PUT' %>" method="POST">  
                                                <button type="submit" class="btn btn-danger">Reject</button>
                                              </form>
                                            </td>
                                          </tr>
                                          <!-- modal for idea view -->
                                          <div class="modal2" id="1modal<%= index+1 %>" >
                                            <div class="modal2-header"><span class="modal2-close"
                                                onclick="modal_close('<%= modal_number1 %>')"></span></div>
                                            <div class="modal2-body">
                                              <div class="modal2-info">
                                                <h3 class="modal2-title">Idea Name: <%= idea.name %>
                                                </h3>
                                                <p class="modal2-label">Idea Created on: <%= idea.date.toLocaleDateString("hi-IN") %>
                                                </p>
                                                <p class="modal2-label">Idea Created by: <%= idea.owner.ownername %>(id: <%= idea.owner.id %>)
                                                </p>
                                                <p class="modal2-label">Idea Category: <%= idea.category %>
                                                </p>
                                                <p class="modal2-label">Idea Subcategory: <%= idea.subcategory %>
                                                </p>
                                                <!-- <span class="item-count">Visited: </span> -->
                                                <p class="item-description">Description: <%= idea.about %>
                                                </p>
                                                <p class="item-description">Features: <%= idea.features %>
                                                </p>
                                                <% if(idea.video.length !==0){ %>
                                                  <p class="item-description">Video Link: <%= idea.video %>
                                                  </p>
                                                  <% } %>
                                              </div>
                                              <div class="row"
                                                style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px; margin-top: 30px; margin-top: 30px;">
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Visited</h3>
                                                      <h2>
                                                        <%= idea.visitCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Likes</h3>
                                                      <h2>
                                                        <%= idea.likeCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Status</h3>
                                                      <h2>
                                                        <%= idea.status %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Inspiration Image</h4>
                                                  <img class="modal2-image" src=<%=idea.inspImagePath %> />
                                                </div>
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Sketch/render or prototype image</h4>
                                                  <img class="modal2-image" src=<%=idea.sketchImagePath %> />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- end of modal for idea view -->
                                          <% count++;}; %>
                                          <% }); %>
                                  </tbody>
                    
                                </table>
                              </div>
                    
                            </div>
                            <hr>
                    
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </section>
                          <section class="hide" id="approvedidea">
                            <div class="container sm-col-12">
                              <div class="card">
                                <div class="card-header info-color white-text text-center">
                                  <h1>Approved Ideas</h1>
                                </div>
                          <div class="row" style="text-align:center; margin-bottom: 50px;">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-body text-center" style="text-align:center;justify-content:center;">
                              <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                                <table class="table" style="width:100%;text-align:center;margin:10px auto">
                                  <thead>
                                    <tr style="background-color:lightblue">
                                      <th>S No.</th>
                                      <th>Date</th>
                                      <th>idea Name</th>
                                      <th>Description(Details of Idea) </th>
                                      <th>Edit</th>
                                      <th>Upgrade</th>
                                      <th>Reject</th>
                                    </tr>
                                  </thead>
                          
                                  <tbody>
                                    <% var count = 1; ideas.forEach((idea,index)=> { %>
                                        <% var modal_number2='2modal' +(index+1); if(idea.status==='Approved' && idea.deleted===false){ %>
                                          <tr>
                                            <td>
                                              <%= count %>
                                            </td>
                                            <td>
                                              <%= idea.date.toLocaleDateString("hi-IN") %>
                                            </td>
                                            <td onclick="modal_display('<%= modal_number2 %>')">
                                              <%= idea.name %>
                                            </td>
                                            <td style="max-width: 250px;">
                                              <%= idea.about %>
                                            </td>
                                            <td style="cursor:pointer"><a href="<%= '/idea/' + idea._id + '/edit' %>"
                                                class="btn btn-primary">Edit</a></td>
                                            <td style="cursor:pointer; font-size: 12px">
                                              <form action="<%= '/idea/' + idea._id + '/changeStatus?_method=PUT' %>" method="POST">
                                                <input type="radio" name="status" value="Sortlisted" style="display: none;" checked></input><button type="submit"
                                                  class="btn btn-primary">Sortlist this idea</button>
                                              </form>
                                          </td>
                                          <td style="cursor:pointer; font-size: 12px">
                                            <form action="<%= '/idea/' + idea._id + '/reject?_method=PUT' %>" method="POST">
                                              <button type="submit" class="btn btn-danger">Reject</button>
                                            </form>
                                          </td>
                                          </tr>
                                          <!-- modal for idea view -->
                                          <div class="modal2" id="2modal<%= index+1 %>">
                                            <div class="modal2-header"><span class="modal2-close"
                                                onclick="modal_close('<%= modal_number2 %>')"></span></div>
                                            <div class="modal2-body">
                                              <div class="modal2-info">
                                                <h3 class="modal2-title">Idea Name: <%= idea.name %>
                                                </h3>
                                                <p class="modal2-label">Idea Created on: <%= idea.date.toLocaleDateString("hi-IN") %>
                                                </p>
                                                <p class="modal2-label">Idea Created by: <%= idea.owner.ownername %>(id: <%= idea.owner.id %>)
                                                </p>
                                                <p class="modal2-label">Idea Category: <%= idea.category %>
                                                </p>
                                                <p class="modal2-label">Idea Subcategory: <%= idea.subcategory %>
                                                </p>
                                                <!-- <span class="item-count">Visited: </span> -->
                                                <p class="item-description">Description: <%= idea.about %>
                                                </p>
                                                <p class="item-description">Features: <%= idea.features %>
                                                </p>
                                                <% if(idea.video.length !==0){ %>
                                                  <p class="item-description">Video Link: <%= idea.video %>
                                                  </p>
                                                  <% } %>
                                              </div>
                                              <div class="row" style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px; margin-top: 30px;">
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Visited</h3>
                                                      <h2>
                                                        <%= idea.visitCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Likes</h3>
                                                      <h2>
                                                        <%= idea.likeCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Status</h3>
                                                      <h2>
                                                        <%= idea.status %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Inspiration Image</h4>
                                                  <img class="modal2-image" src=<%=idea.inspImagePath %> />
                                                </div>
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Sketch/render or prototype image</h4>
                                                  <img class="modal2-image" src=<%=idea.sketchImagePath %> />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- end of modal for idea view -->
                                          <% count++;}; %>
                                            <% }); %>
                          
                                  </tbody>
                          
                                </table>
                              </div>
                          
                            </div>
                            <hr>
                          
                          </div>
                          </div>
                          </div>
                          </div>
                          </section>
                          <section class="hide" id="sortlistedidea">
                            <div class="container sm-col-12">
                              <div class="card">
                                <div class="card-header info-color white-text text-center">
                                  <h1>Sortlisted Ideas</h1>
                                </div>
                          <div class="row" style="text-align:center; margin-bottom: 50px;">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-body text-center" style="text-align:center;justify-content:center;">
                              <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                                <table class="table" style="width:100%;text-align:center;margin:10px auto">
                                  <thead>
                                    <tr style="background-color:lightblue">
                                      <th>S No.</th>
                                      <th>Date</th>
                                      <th>idea Name</th>
                                      <th>Description(Details of Idea) </th>
                                      <th>Edit</th>
                                      <th>Upgrade</th>
                                      <th>Reject</th>
                                    </tr>
                                  </thead>
                          
                                  <tbody>
                                    <% var count = 1; ideas.forEach((idea,index)=> { %>
                                        <% var modal_number3='3modal' +(index+1); if(idea.status==='Sortlisted' && idea.deleted===false){ %>
                                          <tr>
                                            <td>
                                              <%= count %>
                                            </td>
                                            <td>
                                              <%= idea.date.toLocaleDateString("hi-IN") %>
                                            </td>
                                            <td onclick="modal_display('<%= modal_number3 %>')">
                                              <%= idea.name %>
                                            </td>
                                            <td style="max-width: 250px;">
                                              <%= idea.about %>
                                            </td>
                                            <td style="cursor:pointer"><a href="<%= '/idea/' + idea._id + '/edit' %>"
                                                class="btn btn-primary">Edit</a></td>
                                            <td style="cursor:pointer; font-size: 12px">
                                              <form action="<%= '/idea/' + idea._id + '/changeStatus?_method=PUT' %>" method="POST">
                                                <input type="radio" name="status" value="Selected" style="display: none;" checked></input><button type="submit"
                                                  class="btn btn-primary">Select this idea</button>
                                              </form>
                                            </td>
                                            <td style="cursor:pointer; font-size: 12px">
                                              <form action="<%= '/idea/' + idea._id + '/reject?_method=PUT' %>" method="POST">
                                                <button type="submit" class="btn btn-danger">Reject</button>
                                              </form>
                                            </td>
                                          </tr>
                                          <!-- modal for idea view -->
                                          <div class="modal2" id="3modal<%= index+1 %>">
                                            <div class="modal2-header"><span class="modal2-close"
                                                onclick="modal_close('<%= modal_number3 %>')"></span></div>
                                            <div class="modal2-body">
                                              <div class="modal2-info">
                                                <h3 class="modal2-title">Idea Name: <%= idea.name %>
                                                </h3>
                                                <p class="modal2-label">Idea Created on: <%= idea.date.toLocaleDateString("hi-IN") %>
                                                </p>
                                                <p class="modal2-label">Idea Created by: <%= idea.owner.ownername %>(id: <%= idea.owner.id %>)
                                                </p>
                                                <p class="modal2-label">Idea Category: <%= idea.category %>
                                                </p>
                                                <p class="modal2-label">Idea Subcategory: <%= idea.subcategory %>
                                                </p>
                                                <!-- <span class="item-count">Visited: </span> -->
                                                <p class="item-description">Description: <%= idea.about %>
                                                </p>
                                                <p class="item-description">Features: <%= idea.features %>
                                                </p>
                                                <% if(idea.video.length !==0){ %>
                                                  <p class="item-description">Video Link: <%= idea.video %>
                                                  </p>
                                                  <% } %>
                                              </div>
                                              <div class="row" style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px; margin-top: 30px;">
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Visited</h3>
                                                      <h2>
                                                        <%= idea.visitCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Likes</h3>
                                                      <h2>
                                                        <%= idea.likeCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Status</h3>
                                                      <h2>
                                                        <%= idea.status %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Inspiration Image</h4>
                                                  <img class="modal2-image" src=<%=idea.inspImagePath %> />
                                                </div>
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Sketch/render or prototype image</h4>
                                                  <img class="modal2-image" src=<%=idea.sketchImagePath %> />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- end of modal for idea view -->
                                          <% count++; }; %>
                                            <% }); %>
                          
                                  </tbody>
                          
                                </table>
                              </div>
                          
                            </div>
                            <hr>
                          
                          </div>
                          </div>
                          </div>
                          </div>
                          </section>
                          <section class="hide" id="selectedidea">
                            <div class="container sm-col-12">
                              <div class="card row">
                                <div class="card-header info-color white-text text-center">
                                  <h1>Selected Ideas</h1>
                                </div>
                          <div class="row" style="text-align:center; margin-bottom: 50px;">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-body text-center" style="text-align:center;justify-content:center;">
                              <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                                <table class="table" style="width:100%;text-align:center;margin:10px auto">
                                  <thead>
                                    <tr style="background-color:lightblue">
                                      <th>S No.</th>
                                      <th>Date</th>
                                      <th>idea Name</th>
                                      <th>Description(Details of Idea) </th>
                                      <th>Edit</th>
                                      <th>Reject</th>
                                    </tr>
                                  </thead>
                          
                                  <tbody>
                                    <% var count = 1; ideas.forEach((idea,index)=> { %>
                                        <% var modal_number4='4modal' +(index+1); if(idea.status==='Selected' && idea.deleted===false){ %>
                                          <tr>
                                            <td>
                                              <%= count %>
                                            </td>
                                            <td>
                                              <%= idea.date.toLocaleDateString("hi-IN") %>
                                            </td>
                                            <td onclick="modal_display('<%= modal_number4 %>')">
                                              <%= idea.name %>
                                            </td>
                                            <td style="max-width: 250px;">
                                              <%= idea.about %>
                                            </td>
                                            <td style="cursor:pointer"><a href="<%= '/idea/' + idea._id + '/edit' %>"
                                                class="btn btn-primary">Edit</a>
                                            </td>
                                            <td style="cursor:pointer; font-size: 12px">
                                              <form action="<%= '/idea/' + idea._id + '/reject?_method=PUT' %>" method="POST">
                                                <button type="submit" class="btn btn-danger">Reject</button>
                                              </form>
                                            </td>
                                          </tr>
                                          <!-- modal for idea view -->
                                          <div class="modal2" id="4modal<%= index+1 %>">
                                            <div class="modal2-header"><span class="modal2-close"
                                                onclick="modal_close('<%= modal_number4 %>')"></span></div>
                                            <div class="modal2-body">
                                              <div class="modal2-info">
                                                <h3 class="modal2-title">Idea Name: <%= idea.name %>
                                                </h3>
                                                <p class="modal2-label">Idea Created on: <%= idea.date.toLocaleDateString("hi-IN") %>
                                                </p>
                                                <p class="modal2-label">Idea Created by: <%= idea.owner.ownername %>(id: <%= idea.owner.id %>)
                                                </p>
                                                <p class="modal2-label">Idea Category: <%= idea.category %>
                                                </p>
                                                <p class="modal2-label">Idea Subcategory: <%= idea.subcategory %>
                                                </p>
                                                <!-- <span class="item-count">Visited: </span> -->
                                                <p class="item-description">Description: <%= idea.about %>
                                                </p>
                                                <p class="item-description">Features: <%= idea.features %>
                                                </p>
                                                <% if(idea.video.length !==0){ %>
                                                  <p class="item-description">Video Link: <%= idea.video %>
                                                  </p>
                                                  <% } %>
                                              </div>
                                              <div class="row" style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px; margin-top: 30px;">
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Visited</h3>
                                                      <h2>
                                                        <%= idea.visitCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Likes</h3>
                                                      <h2>
                                                        <%= idea.likeCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Status</h3>
                                                      <h2>
                                                        <%= idea.status %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Inspiration Image</h4>
                                                  <img class="modal2-image" src=<%=idea.inspImagePath %> />
                                                </div>
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Sketch/render or prototype image</h4>
                                                  <img class="modal2-image" src=<%=idea.sketchImagePath %> />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- end of modal for idea view -->
                                          <% count++;}; %>
                                            <% }); %>
                          
                                  </tbody>
                          
                                </table>
                              </div>
                          
                            </div>
                            <hr>
                          
                          </div>
                          </div>
                          </div>
                          </div>
                          </section>
                          <section class="hide" id="boostedidea">
                            <div class="container sm-col-12">
                              <div class="card">
                                <div class="card-header info-color white-text text-center">
                                  <h1>Boosted Ideas</h1>
                                </div>
                          <div class="row" style="text-align:center; margin-bottom: 50px;">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-body text-center" style="text-align:center;justify-content:center;">
                              <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                                <table class="table" style="width:100%;text-align:center;margin:10px auto">
                                  <thead>
                                    <tr style="background-color:lightblue">
                                      <th>S No.</th>
                                      <th>Date</th>
                                      <th>idea Name</th>
                                      <th>Description(Details of Idea) </th>
                                      <th>Edit</th>
                                      <th>Upgrade</th>
                                      <th>Reject</th>
                                    </tr>
                                  </thead>
                          
                                  <tbody>
                                    <% var count = 1; ideas.forEach((idea,index)=> { %>
                                        <% var modal_number7='7modal' +(index+1); if(idea.status==='Boosted' && idea.deleted===false){ %>
                                          <tr>
                                            <td>
                                              <%= count %>
                                            </td>
                                            <td>
                                              <%= idea.date.toLocaleDateString("hi-IN") %>
                                            </td>
                                            <td onclick="modal_display('<%= modal_number7 %>')">
                                              <%= idea.name %>
                                            </td>
                                            <td style="max-width: 250px;">
                                              <%= idea.about %>
                                            </td>
                                            <td style="cursor:pointer"><a href="<%= '/idea/' + idea._id + '/edit' %>"
                                                class="btn btn-primary">Edit</a></td>
                                          </tr>
                                          <!-- modal for idea view -->
                                          <div class="modal2" id="7modal<%= index+1 %>">
                                            <div class="modal2-header"><span class="modal2-close"
                                                onclick="modal_close('<%= modal_number7 %>')"></span></div>
                                            <div class="modal2-body">
                                              <div class="modal2-info">
                                                <h3 class="modal2-title">Idea Name: <%= idea.name %>
                                                </h3>
                                                <p class="modal2-label">Idea Created on: <%= idea.date.toLocaleDateString("hi-IN") %>
                                                </p>
                                                <p class="modal2-label">Idea Created by: <%= idea.owner.ownername %>(id: <%= idea.owner.id %>)
                                                </p>
                                                <p class="modal2-label">Idea Category: <%= idea.category %>
                                                </p>
                                                <p class="modal2-label">Idea Subcategory: <%= idea.subcategory %>
                                                </p>
                                                <!-- <span class="item-count">Visited: </span> -->
                                                <p class="item-description">Description: <%= idea.about %>
                                                </p>
                                                <p class="item-description">Features: <%= idea.features %>
                                                </p>
                                                <% if(idea.video.length !==0){ %>
                                                  <p class="item-description">Video Link: <%= idea.video %>
                                                  </p>
                                                  <% } %>
                                              </div>
                                              <div class="row" style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px; margin-top: 30px;">
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Visited</h3>
                                                      <h2>
                                                        <%= idea.visitCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Likes</h3>
                                                      <h2>
                                                        <%= idea.likeCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Status</h3>
                                                      <h2>
                                                        <%= idea.status %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Inspiration Image</h4>
                                                  <img class="modal2-image" src=<%=idea.inspImagePath %> />
                                                </div>
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Sketch/render or prototype image</h4>
                                                  <img class="modal2-image" src=<%=idea.sketchImagePath %> />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- end of modal for idea view -->
                                          <% count++;}; %>
                                            <% }); %>
                          
                                  </tbody>
                          
                                </table>
                              </div>
                          
                            </div>
                            <hr>
                          
                          </div>
                          </div>
                          </div>
                          </div>
                          </section>
                          <section class="hide" id="rejectedidea">
                            <div class="container sm-col-12">
                              <div class="card">
                                <div class="card-header info-color white-text text-center">
                                  <h1>Rejected Ideas</h1>
                                  </div>
                          <div class="row" style="text-align:center; margin-bottom: 50px;">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-body text-center" style="text-align:center;justify-content:center;">
                              <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                                <table class="table" style="width:100%;text-align:center;margin:10px auto">
                                  <thead>
                                    <tr style="background-color:lightblue">
                                      <th>S No.</th>
                                      <th>Date</th>
                                      <th>idea Name</th>
                                      <th>Description(Details of Idea) </th>
                                      <th>Edit</th>
                                    </tr>
                                  </thead>
                          
                                  <tbody>
                                    <% var count = 1; ideas.forEach((idea,index)=> { %>
                                        <% var modal_number5='5modal' +(index+1); if(idea.status==='Rejected' && idea.deleted===false){ %>
                                          <tr>
                                            <td>
                                              <%= count %>
                                            </td>
                                            <td>
                                              <%= idea.date.toLocaleDateString("hi-IN") %>
                                            </td>
                                            <td onclick="modal_display('<%= modal_number5 %>')">
                                              <%= idea.name %>
                                            </td>
                                            <td style="max-width: 250px;">
                                              <%= idea.about %>
                                            </td>
                                            <td style="cursor:pointer"><a href="<%= '/idea/' + idea._id + '/edit' %>"
                                                class="btn btn-primary">Edit</a></td>
                                          </tr>
                                          <!-- modal for idea view -->
                                          <div class="modal2" id="5modal<%= index+1 %>">
                                            <div class="modal2-header"><span class="modal2-close"
                                                onclick="modal_close('<%= modal_number5 %>')"></span></div>
                                            <div class="modal2-body">
                                              <div class="modal2-info">
                                                <h3 class="modal2-title">Idea Name: <%= idea.name %>
                                                </h3>
                                                <p class="modal2-label">Idea Created on: <%= idea.date.toLocaleDateString("hi-IN") %>
                                                </p>
                                                <p class="modal2-label">Idea Created by: <%= idea.owner.ownername %>(id: <%= idea.owner.id %>)
                                                </p>
                                                <p class="modal2-label">Idea Category: <%= idea.category %>
                                                </p>
                                                <p class="modal2-label">Idea Subcategory: <%= idea.subcategory %>
                                                </p>
                                                <!-- <span class="item-count">Visited: </span> -->
                                                <p class="item-description">Description: <%= idea.about %>
                                                </p>
                                                <p class="item-description">Features: <%= idea.features %>
                                                </p>
                                                <% if(idea.video.length !==0){ %>
                                                  <p class="item-description">Video Link: <%= idea.video %>
                                                  </p>
                                                  <% } %>
                                              </div>
                                              <div class="row" style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px; margin-top: 30px;">
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Visited</h3>
                                                      <h2>
                                                        <%= idea.visitCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Likes</h3>
                                                      <h2>
                                                        <%= idea.likeCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Status</h3>
                                                      <h2>
                                                        <%= idea.status %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Inspiration Image</h4>
                                                  <img class="modal2-image" src=<%=idea.inspImagePath %> />
                                                </div>
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Sketch/render or prototype image</h4>
                                                  <img class="modal2-image" src=<%=idea.sketchImagePath %> />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- end of modal for idea view -->
                                          <% count++;}; %>
                                            <% }); %>
                          
                                  </tbody>
                          
                                </table>
                              </div>
                          
                            </div>
                            <hr>
                          
                          </div>
                          </div>
                          </div>
                          </div>
                          </section>
                          <section class="hide" id="deletedidea">
                            <div class="container sm-col-12">
                              <div class="card">
                                <div class="card-header info-color white-text text-center">
                                  <h1>Deleted Ideas</h1>
                                  </div>
                          <div class="row" style="text-align:center; margin-bottom: 50px;">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-body text-center" style="text-align:center;justify-content:center;">
                              <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                                <table class="table" style="width:100%;text-align:center;margin:10px auto">
                                  <thead>
                                    <tr style="background-color:lightblue">
                                      <th>S No.</th>
                                      <th>Date</th>
                                      <th>idea Name</th>
                                      <th>Description(Details of Idea) </th>
                                      <th>Edit</th>
                                      <th>Upgrade</th>
                                    </tr>
                                  </thead>
                          
                                  <tbody>
                                    <% var count = 1; ideas.forEach((idea,index)=> { %>
                                        <% var modal_number6='6modal' +(index+1); if(idea.deleted===true){ %>
                                          <tr>
                                            <td>
                                              <%= count %>
                                            </td>
                                            <td>
                                              <%= idea.date.toLocaleDateString("hi-IN") %>
                                            </td>
                                            <td onclick="modal_display('<%= modal_number6 %>')">
                                              <%= idea.name %>
                                            </td>
                                            <td style="max-width: 250px;">
                                              <%= idea.about %>
                                            </td>
                                            <td style="cursor:pointer"><a href="<%= '/idea/' + idea._id + '/edit' %>"
                                                class="btn btn-primary">Edit</a></td>
                                            <td style="cursor:pointer; font-size: 12px">
                                              <form action="<%= '/idea/' + idea._id + '/restore?_method=PUT' %>" method="POST">
                                                <button type="submit" class="btn btn-primary">Restore this idea</button>
                                              </form>
                                          </td>
                                          </tr>
                                          <!-- modal for idea view -->
                                          <div class="modal2" id="6modal<%= index+1 %>">
                                            <div class="modal2-header"><span class="modal2-close"
                                                onclick="modal_close('<%= modal_number6 %>')"></span></div>
                                            <div class="modal2-body">
                                              <div class="modal2-info">
                                                <h3 class="modal2-title">Idea Name: <%= idea.name %>
                                                </h3>
                                                <p class="modal2-label">Idea Created on: <%= idea.date.toLocaleDateString("hi-IN") %>
                                                </p>
                                                <p class="modal2-label">Idea Created by: <%= idea.owner.ownername %>(id: <%= idea.owner.id %>)
                                                </p>
                                                <p class="modal2-label">Idea Category: <%= idea.category %>
                                                </p>
                                                <p class="modal2-label">Idea Subcategory: <%= idea.subcategory %>
                                                </p>
                                                <!-- <span class="item-count">Visited: </span> -->
                                                <p class="item-description">Description: <%= idea.about %>
                                                </p>
                                                <p class="item-description">Features: <%= idea.features %>
                                                </p>
                                                <% if(idea.video.length !==0){ %>
                                                  <p class="item-description">Video Link: <%= idea.video %>
                                                  </p>
                                                  <% } %>
                                              </div>
                                              <div class="row" style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px; margin-top: 30px;">
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Visited</h3>
                                                      <h2>
                                                        <%= idea.visitCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Likes</h3>
                                                      <h2>
                                                        <%= idea.likeCount %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                                  <div class="card rounded-0 p-0 shadow-sm">
                                                    <div class="" style="padding:20px">
                                                      <h3>Status</h3>
                                                      <h2>
                                                        <%= idea.status %>
                                                      </h2>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="row" style="margin-left: 0; margin-right: 0;">
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Inspiration Image</h4>
                                                  <img class="modal2-image" src=<%=idea.inspImagePath %> />
                                                </div>
                                                <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                                  <h4>Sketch/render or prototype image</h4>
                                                  <img class="modal2-image" src=<%=idea.sketchImagePath %> />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- end of modal for idea view -->
                                          <% count++;}; %>
                                            <% }); %>
                          
                                  </tbody>
                          
                                </table>
                              </div>
                          
                            </div>
                            <hr>
                          
                          </div>
                          </div>
            </div>
          </div>

      </section>
      <section class="hide" id="proideas">
        <div class="container sm-col-12">
          <div class="card">
            <div class="card-header info-color white-text text-center">
              <h1>All Professional ideas</h1>
            </div>
            <div class="card-body">
                  <div class="row" style="text-align:center;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="table-body text-center" style="text-align:center;justify-content:center;">
                        <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                          <table class="table" style="width:100%;text-align:center;margin:10px auto">
                            <thead>
                              <tr style="background-color:lightblue">
                                <th>S No.</th>
                                <th>Date</th>
                                <th>Idea Name</th>
                                <th>Description(Details of Idea) </th>
                                <th>staeg</th>
                                <th>Price</th>
                                <th>Edit</th>
                              </tr>
                            </thead>
              
                            <tbody>
                              <% var count = 1; proideas.forEach((proidea,index)=> { %>
                                  <% var modal_number_pro='modal_pro' +(index+1) %>
                                    <tr>
                                      <td>
                                        <%= count %>
                                      </td>
                                      <td>
                                        <%= proidea.date.toLocaleDateString("hi-IN") %>
                                      </td>
                                      <td onclick="modal_display('<%= modal_number_pro %>')">
                                        <%= proidea.ideaName %>
                                      </td>
                                      <td style="max-width: 250px;">
                                        <%= proidea.description %>
                                      </td>
                                      <td>
                                        <%= proidea.stage %>
                                      </td>
                                      <td><%= proidea.price %></td>
                                      <td style="cursor:pointer"><a href="<%= '/products/' + proidea._id + '/edit' %>"
                                          class="btn btn-primary">Edit</a></td>
                                    </tr>
                                    <!-- modal for idea view -->
                                    <div class="modal2" id="modal_pro<%= index+1 %>" aria-modal="true">
                                      <div class="modal2-header"><span class="modal2-close"
                                          onclick="modal_close('<%= modal_number_pro %>')"></span></div>
                                      <div class="modal2-body">
                                        <div class="modal2-info">
                                          <h3 class="modal2-title">Idea Name: <%= proidea.ideaName %>
                                          </h3>
                                          <p class="modal2-label">Idea Created on: <%= proidea.date.toLocaleDateString("hi-IN") %>
                                          </p>
                                          <p class="modal2-label">Idea Inventor name: <%= proidea.inventor %>
                                          </p>
                                          <p class="modal2-label">Idea Category: <%= proidea.category %>
                                          </p>
                                          <p class="modal2-label">Idea Sold: <%= proidea.sold %>
                                          </p>
                                          <!-- <span class="item-count">Visited: </span> -->
                                          <p class="item-description">Description: <%= proidea.description %>
                                          </p>
                                            <p class="item-description">Idea Tagline: <%= proidea.tagline %>
                                            </p>
                                            <p class="item-description">How it is different: <%= proidea.difference %>
                                            </p>
                                            <p class="item-description">Problems: <%= proidea.problem %>
                                            </p>
                                            <p class="item-description">Solution it provide: <%= proidea.problemSolution %>
                                            </p>
                                            <a href="<%= proidea.filePath %>" download="document.pdf">Download pdf</a>
                                        </div>
                                        <div class="row"
                                          style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px; margin-top: 30px;">
                                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                            <div class="card rounded-0 p-0 shadow-sm">
                                              <div class="" style="padding:20px">
                                                <h3>Stage</h3>
                                                <h2>
                                                  <%= proidea.stage %>
                                                </h2>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                            <div class="card rounded-0 p-0 shadow-sm">
                                              <div class="" style="padding:20px">
                                                <h3>Patent</h3>
                                                <h2>
                                                  <%= proidea.patent %>
                                                </h2>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                            <div class="card rounded-0 p-0 shadow-sm">
                                              <div class="" style="padding:20px">
                                                <h3>prototype</h3>
                                                <h2>
                                                  <%= proidea.proto %>
                                                </h2>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- end of modal for idea view -->
                                    <% count++;}); %>
              
                            </tbody>
              
                          </table>
                        </div>
              
                      </div>
                      <hr>
              
                    </div>
                  </div>
            </div>
          </div>
        </div>
      
      </section>
      <section class="hide" id="entrepreneur">
        <div class="container sm-col-12">
          <div class="card">
            <div class="card-header info-color white-text text-center">
              <h1>All Entrepreneur</h1>
            </div>
            <div class="card-body">
                <% if(entrepreneurs.length===0){ %>
                  <div style="text-align: center;" class="form-group col-md-12">
                    <h4>Currently no entrepreneur is available</h4>
                  </div>
                  <% }else{ %>
                    <div class="row" style="text-align:center; margin-bottom: 50px;">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2>Entrepreneur</h2>
                        <div class="table-body text-center" style="text-align:center;justify-content:center;">
                          <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
                            <table class="table" style="width:100%;text-align:center;margin:10px auto">
                              <thead>
                                <tr style="background-color:lightblue">
                                  <th>S No.</th>
                                  <th>User Name</th>
                                  <th>Name </th>
                                  <th>email</th>
                                  <th>startup</th>
                                  <th>Block</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% var count=1;entrepreneurs.forEach((entrepreneur,index)=> { if(entrepreneur.blocked===false){%>
                                  <% var modal_num_entrepreneur='entrepreneur_modal' +(index+1) %>
                                    <tr>
                                      <td>
                                        <%= count %>
                                      </td>
                                      <td onclick="modal_display('<%= modal_num_entrepreneur %>')">
                                        <%= entrepreneur.username %>
                                      </td>
                                      <td>
                                        <%= entrepreneur.name %>
                                      </td>
                                      <td style="max-width: 250px;">
                                        <%= entrepreneur.email %>
                                      </td>
                                      <td style="max-width: 250px;">
                                        <%= entrepreneur.startup %>
                                      </td>
                                      <td style="cursor:pointer; font-size: 12px">
                                        <form action="<%= '/admin/e/' + entrepreneur._id + '/block?_method=PUT' %>" method="POST">
                                          <button type="submit" class="btn btn-primary">Block</button>
                                        </form>
                                      </td>
                                    </tr>
                                    <!-- modal for idea view -->
                                    <div class="modal2" id="entrepreneur_modal<%= index+1 %>">
                                      <div class="modal2-header"><span class="modal2-close" onclick="modal_close('<%= modal_num_entrepreneur %>')"></span></div>
                                      <div class="modal2-body">
                                        <div class="modal2-info">
                                          <h3 class="modal2-title">Entrepreneur UserName: <%= entrepreneur.username %>
                                          </h3>
                                          <p class="modal2-label">Entrepreneur Name: <%= entrepreneur.name %>
                                          </p>
                                          <p class="modal2-label">Entrepreneur id: <%= entrepreneur._id %>
                                          </p>
                                          <p class="modal2-label">Email: <%= entrepreneur.email %>
                                          </p>
                                          <!-- <span class="item-count">Visited: </span> -->
                                          <p class="item-description">startup name: <%= entrepreneur.startup %>
                                          </p>
                                          <p class="item-description">Mobile No: <%= entrepreneur.mobile %>
                                          </p>
                                          <p class="item-description">Have Patent: <%= entrepreneur.patent %>
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- end of modal for idea view -->
                                    <% count++;}; %>
                                      <% }); %>
                
                              </tbody>
                
                            </table>
                          </div>
                
                        </div>
                        <hr>
                
                      </div>
                    </div>
                    <% } %>
            </div>
          </div>
        </div>
      
      </section>
      <section class="hide" id="investor">
        <div class="container sm-col-12">
          <div class="card">
            <div class="card-header info-color white-text text-center">
              <h1>All investors</h1>
            </div>
            <div class="card-body">
              
            </div>
          </div>
        </div>

      </section>
      <section class="hide" id="report">
        <div class="container sm-col-12">
          <div class="card">
            <div class="card-header info-color white-text text-center">
              <h1>Report</h1>
            </div>
            <div class="card-body">
              
            </div>
          </div>
        </div>

      </section>
      <section class="hide" id="faq">
        <div class="container sm-col-12">
          <div class="card">
            <div class="card-header info-color white-text text-center">
              <h1>Add FAQ</h1>
            </div>
            <div class="card-body">
              <form class="form-horizontal" action="/faq/add" method="POST">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="question">Question:</label>
                  <input class="form-control" id="question" type="text" placeholder="Question" name="faq[question]" required>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="answer">Answer:</label>
                  <input class="form-control" id="answer" placeholder="Answer"  name="faq[answer]" required>
                </div>
                <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-default">
                </div>
              </form>
            </div>
          </div>
        </div>
      
      </section>
    </div>
  </div>
</div>
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script type="text/javascript">
  function modal_display(modalnumber) {
      document.getElementById(modalnumber).classList.add("is-open");
    }
    function modal_close(modalnumber) {
      document.getElementById(modalnumber).classList.remove("is-open");
    }
    $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });
      $(".navContent").bind("click", function (work) {
        work.preventDefault();
        var clickedItem = $(this);
        $(".navContent").each(function () {
          $(this).removeClass("active");
        });
        clickedItem.addClass("active");
      });

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
      $('#sidebarCollapseCross').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
    });
    function showhide(id) {
      if (document.getElementById) {
        var select = document.getElementById(id);
        var others = document.getElementsByClassName("hide");
        for (var i = 0; i < others.length; i++) {
          others[i].style.display = "none";
        }
        select.style.display = "block";
      }
      return false;
    }
    function getdropdownlist() {
        var myDropdown = document.getElementById("ideaDropdownlist");
        if (myDropdown.classList.contains('show')) {
          myDropdown.classList.remove('show');
        }else {
          myDropdown.classList.toggle("show");
        }
      }
  </script>
</body>

</html>