<!DOCTYPE html>
<html lang="en">
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
  <!-- filepond -->
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <!--    font-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <script src="https://use.fontawesome.com/a73d65bbee.js"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap"
    rel="stylesheet">
  <!-- aos -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
  <link href="/stylesheet/style2.css" rel="stylesheet" type="text/css">
  <link href="/images/favicon.ico" rel="icon" type="icon">

  <title>Anda Company</title>
</head>


<body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div class="page-wrapper chiller-theme toggled">
    <button id="show-sidebar" class="btn btn-sm btn-dark">
      <i class="fas fa-bars"></i>
    </button>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="">Hello! <%= user.username %> </a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
          <div class="user-pic">
            <% if(!user.profilePic){ %>
            <img class="img-responsive img-rounded" src="/images/LOGO-02.png" alt="User picture">
            <% } else {%>
              <img class="img-responsive img-rounded" src=<%= user.profilePicPath %> style=" height:90px;" alt="User picture">
            <% } %>
          </div>
          <div class="user-info">
            <span class="user-name">
              <strong><%= user.name %></strong>
            </span>
            <span class="user-role"">Entrepreneur</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
            <a href="/entrepreneurlogout" class="btn btn-sm btn-dark m-2"><i class="fa fa-sign-out"></i>
              Logout</a>
          </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>
            <li class="sidebar">
              <a href="#dashboard">
                <i class="fa fa-bars"></i>
                <span>Dashboard</span>
                <span class="badge badge-pill badge-warning">New</span>
              </a>
            </li>
            <li class="sidebar-dropdown">
              <a href="#content">
                <i class="fa fa-image"></i>
                <span>Ideas</span>
                <span class="badge badge-pill badge-danger"><%= ideas.length %></span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="">Products
  
                    </a>
                  </li>
                  <li>
                    <a href="">Orders</a>
                  </li>
                  <li>
                    <a href="">Investors</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="" data-toggle="modal" data-target=".bd-example-modal-lg">
                <i class="fa fa-cogs"></i>
                <span>Settings</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
      <!-- sidebar-content  -->
      <div class="sidebar-footer">
        <a href="" data-toggle="modal" data-target=".notification_modal">
          <i class="fa fa-bell"></i>
          <% if(user.messages.length!==0){ %>
          <span class="badge badge-pill badge-warning notification"><%= user.messages.length %></span>
          <% } %>
        </a>
        <!-- <a href="">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a> -->
        <a href="" data-toggle="modal" data-target=".bd-example-modal-lg">
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
        <a href="">
          <i class="fa fa-home"></i>
        </a>
      </div>
    </nav>
    <!-- popup modal -->
    <div class="modal fade bd-example-modal-lg" >
      <div class="modal-dialog modal-lg">
        <!-- modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Account Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/entrepreneur/<%= user._id %>?_method=PUT" id="msform" method="post">
              <% if(typeof alert !='undefined' ) { %>
                <% alert.forEach(function(error) { %>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <% }) %>
                    <% } %>
                    <div class="row" style="margin-left: 0; margin-right: 0;">
                      <div class="form-group col-lg-4" >
                        <div style="max-width: 170px;">
                          <label for="profile">Profile Picture</label>
                          <input type="file" name="entrepreneur[profilePic]" id="profile" class="filepond filepond--item" data-max-file-size="5MB" accept="image/png,image/jpeg" />
                        </div>
                      </div>
                      <div class="col-lg-8" style="padding-left: 0; padding-right: 0;">
                        <div class="form-group row" style="margin-left: 0; margin-right: 0; justify-content: center;">
                          <label for="user_name">Username</label>
                          <input style="text-align: center;" type="text" id="user_name" name="entrepreneur[username]" placeholder="Username*" minlength="5"
                            title="username must be 5 or more characters long" value="<%= user.username %>" required>
                        </div>
                        <div class="form-group row" style="margin-left: 0; margin-right: 0; justify-content: center;">
                          <label for="user_name">Email</label>
                          <input style="text-align: center;" type="email" id="user_email" name="entrepreneur[email]" placeholder="Email*" value="<%= user.email %>" required>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="user_mobile">Mobile No.</label>
                      <input style="text-align: center;" type="text" id="user_mobile" name="entrepreneur[mobile]" placeholder="Mobile No*" value="<%= user.mobile %>" required>
                    </div>
                      <div class="form-group">
                        <label for="user-name">Full Name</label>
                        <input style="text-align: center;" type="text" id="user-name" name="entrepreneur[name]" placeholder="Your Full Name*" value="<%= user.name %>" required>
                      </div>
                      <div class="form-group">
                        <label for="user_startup">Startup</label>
                        <input style="text-align: center;" type="text" id="user_startup" name="entrepreneur[startup]" placeholder="Startup Name*" value="<%= user.startup %>" required>
                      </div>
                      <div class="form-group">
                        <p>Do you have Patent?</p>
                        <input style="width: 10px;" type="radio" id="patent-true" name="entrepreneur[patent]" value="true" <% if(user.patent === true){ %> checked <% } %> required>
                        <label for="patent-true">Yes</label><br>
                        <input style="width: 10px;" type="radio" id="patent-false" name="entrepreneur[patent]" value="false" <% if(user.patent === false){ %> checked <% } %> required>
                        <label for="patent-false">No</label>
                      </div>
                      <a href="/entrepreneur/changepassword">Change Password</a>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
        </div>

      </div>
    </div>
    <!-- modal for notification view -->
    <div class="modal notification_modal">
      <div class="modal-dialog">
        <!-- modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">My Notifications</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row  notification-row notification-container">
              <form action="<%= '/entrepreneur/' + user._id + '/deletemessages?_method=PUT' %>" method="POST">
                <p class="dismiss text-right"><button id="dismiss-all" type="submit">Dismiss All</button></p>
              </form>
              <% user.messages.forEach((message,index) => { %>
              <div class="card notify-card notification-card notification-invitation">
                <div class="notification-card-body card-body">
                  <table>
                    <tr>
                      <td style="width:70%">
                        <div class="notification-card-title card-title"><%= message %></div>
                      </td>
                      <td style="width:30%">
                        <form action="<%= '/entrepreneur/' + user._id + '/message?_method=PUT' %>" method="POST">
                          <input type="radio" name="messageIndex" style="display: none" value=<%= index %> checked></input><button type="submit" class="btn btn-danger dismiss-notification">Dismiss</button>
                        </form>
                        <!-- <a href="" class="btn btn-danger dismiss-notification">Dismiss</a> -->
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <% }) %>
            </div>
        </div>
      </div>
    </div>
    </div>

    <!-- end of modal for notification view -->
    <!-- sidebar-wrapper  -->
    <main class="page-content"id="dashboard">
      <div class="container mt-0 mb-0">
        <% if(error && error.length> 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
          <% } %>
            <% if(success && success.length> 0) { %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
              <% } %>
      </div>
      <div class="container">
        <h2 style="display: inline-block;">Entrepreneur Dashboard</h2>
        <a href="" class="btn btn-danger btn-lg float-md-right"><i class="fa fa-lock"></i> Unlock</a>
        <hr>
        <div class="row">
          <div class="form-group col-md-12">
            <h4>This dashboard shows all your analytics and visuals.</h4>
            <p> You can find more investors to invest in your idea in <a href="/">
              Homepage</a>, view the website  for more details</p>
          </div>
        </div>
        <h5>Analytics</h5>
        <hr>
        <div class="row" style="text-align:center">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card rounded-0 p-0 shadow-sm">
              <div class="" style="padding:20px">
                <h3>Idea Analytics</h3>
                <p>Current Investments</p>
                <h2>0</h2>
                <hr>
                 <div class="card-body text-left">
                   <h6 class="card-title">Summary</h6>
                   <p>Last 28 days</p>
                   <p>
                    Views : 0
                   </p>
                   <p>
                    Likes/Interested : 0
                   </p>
                   <hr>
                   
                 </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card" style="text-align: center;">
              <img class="card-img-top" src="/images/LOGO-02.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Add New Idea</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="/idea/add" class="btn btn-primary btn-lg">Add new Idea <i class="fa fa-plus-circle"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card rounded-0 p-0 shadow-sm">
              <img src="/images/prod1.jpg" class="card-img-top rounded-0" alt="Angular pro sidebar">
              <div class="card-body text-center">
                <h6 class="card-title">Latest Updates</h6>
                <p>News
                  No new updates, but check back regularly to see announcements geared specifically for the Anda creator community. Also check out:</p>
                  <hr>
                <a href="" target="_blank" class="btn btn-primary btn-sm">View more <i class="fa fa-arrow-left"></i></a>
                <a href="" target="_blank" class="btn btn-success btn-sm">Mail <i class="fa fa-envelope"></i></a>
                <a href="" target="_blank" class="btn btn-outline-dark btn-xs" style="margin:5px"><i class="fa fa-linkedin"> </i></a>
                <a href="" target="_blank" class="btn btn-outline-dark btn-xs" style="margin:5px"><i class="fa fa-facebook-square"> </i></a>
                <a href="" target="_blank" class="btn btn-outline-dark btn-xs" style="margin:5px"><i class="fa fa-pinterest-square"> </i></a>
                <a href="" target="_blank" class="btn btn-outline-dark btn-xs" style="margin:5px"><i class="fa fa-whatsapp"> </i></a>
                <a href="" target="_blank" class="btn btn-outline-dark btn-xs" style="margin:5px"><i class="fa fa-instagram"> </i></a>
                <hr>
                
              </div>
            </div>
          </div>
        </div>
        <hr>
  
        
      </div>
  
    </main>
    <main class="page-content" id="content">
      <div class="container">
        <h2>Your Ideas</h2>
        <hr>
        <div class="row">
          <div class="form-group col-md-12">
            <h4>This dashboard shows all your idea analytics and visuals.</h4>
            <p> You can find more on <a href="/">
                Homepage</a>, it contains more investment option
                <i class="fa fa-question-circle-o description_display"><span class="description_text">
                  The different Colors in the table represent following information:<br><br>
                  <div class="color-box" style="background-color: #F0F8FF;"></div>: idea pending<br>
                  <div class="color-box" style="background-color: #fdfd91;"></div>: idea approved<br>
                  <div class="color-box" style="background-color: orange;"></div>: idea sortlisted<br>
                  <div class="color-box" style="background-color: #808080;"></div>: idea boosted<br>
                  <div class="color-box" style="background-color: green;"></div>: idea selected<br>
                  <div class="color-box" style="background-color: #FF030D;"></div>: idea rejected<br>
                </span></i></p>
          </div>
          
          <% if(ideas.length===0){ %>
            <div style="text-align: center;" class="form-group col-md-12">
              <h4>Currently you have not submitted any idea</h4>
            </div>
          <% }else{ %>
        <div class="row" style="text-align:center;overflow-x: scroll;">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-body text-center" style="text-align:center;justify-content:center;">      
              <div class="main-table animate-left" style="text-align:center;overflow-x:auto">
              <table class="table" style="width:100%;text-align:center;margin:10px auto">
          <thead>
            <tr style="background-color:lightblue">
              <th>S No.</th>
              <th>Date</th>
              <th>Startup Name</th>
              <th>Description(Details of Idea) </th>
              <th>Views</th>
              <th>Likes</th>
              <th>Delete</th>
              <th>Edit</th>
              <th>Boost</th>
            </tr>
          </thead>
        
          <tbody>
            <% ideas.forEach((idea,index)=> { %>
              <% var display_color='background-color: #F0F8FF'; if(idea.status==='Approved'){display_color='background-color: #fdfd91'}else if(idea.status==='Sortlisted'){display_color='background-color: orange'}else if(idea.status==='Selected'){display_color='background-color: green'}else if(idea.status==='Boosted'){display_color='background-color: #808080'}else if(idea.status==='Rejected'){display_color='background-color: #FF030D'} %>
              <% var modal_number = 'modal'+(index+1) %>
            <tr style='<%= display_color %>' >
              <td> <%= index+1 %></td>
              <td><%= idea.date.toLocaleDateString("hi-IN") %></td>
              <td onclick="modal_display('<%= modal_number %>')" ><%= idea.name %></td>
              <td style="max-width: 250px;"><%= idea.about %></td>
              <td><%= idea.visitCount %></td>
              <td>100+</td>
              <td style="cursor:pointer" style="padding-top: 0.7rem;">
               <form action="/idea/<%= idea._id %>?_method=DELETE" method="post">
                <div class="delete-managed"></div>
                <!-- <button type="submit" style="background-color: transparent !important;border: none; padding: 0;"><i class="fa fa-trash" style="font-size: 20px;"></i></button> -->
               </form>
            </td>
              <td style="cursor:pointer"><a href="<%= '/idea/' + idea._id + '/edit' %>" class="btn btn-primary">Edit</a></td>
              <td style="cursor:pointer; font-size: 12px"><a href="" class="btn btn-primary">Boost this idea</a></td>
            </tr>
            <!-- modal for idea view -->
            <div class="modal2" id="modal<%= index+1 %>" aria-modal="true">
              <div class="modal2-header"><span class="modal2-close" onclick="modal_close('<%= modal_number %>')"></span></div>
              <div class="modal2-body">
                <div class="modal2-info">
                  <h3 class="modal2-title">Idea Name: <%= idea.name %></h3>
                  <p class="modal2-label">Idea Created on: <%= idea.date.toLocaleDateString("hi-IN") %></p>
                  <p class="modal2-label">Idea Category: <%= idea.category %></p>
                  <p class="modal2-label">Idea Subcategory: <%= idea.subcategory %></p>
                  <!-- <span class="item-count">Visited: </span> -->
                  <p class="item-description">Description: <%= idea.about %></p>
                  <p class="item-description">Features: <%= idea.features %></p>
                  <% if(idea.video.length !==0){ %>
                    <p class="item-description">Video Link: <%= idea.video %></p>
                  <% } %>
                </div>
                <div class="row" style="text-align: center;margin-left: 0; margin-right: 0; margin-bottom: 30px;">
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                      <div class="" style="padding:20px">
                        <h3>Visited</h3>
                        <h2><%= idea.visitCount %></h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                      <div class="" style="padding:20px">
                        <h3>Likes</h3>
                        <h2><%= idea.likeCount %></h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <div class="card rounded-0 p-0 shadow-sm">
                      <div class="" style="padding:20px">
                        <h3>Status</h3>
                        <h2><%= idea.status %></h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-left: 0; margin-right: 0;">
                  <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                    <h4>Inspiration Image</h4>
                    <img class="modal2-image" src=<%=idea.inspImagePath %> />
                  </div>
                  <div class="col-md-6" style="padding-left: 10px; padding-right: 10px;">
                    <h4>Sketch/render or prototype image</h4>
                    <img class="modal2-image" src=<%=idea.sketchImagePath %> />
                  </div>
                </div>
              </div>
            </div>
            <!-- end of modal for idea view -->
            <% }); %>
        
          </tbody>
        
        </table>
        <div style="text-align:center">
          <button style="margin:10px auto;" class="btn btn-dark" onclick="myCreateFunction()">Start campaign <i class="fa fa-plus-circle"> </i></button>
        </div>
          </div>
          
        </div>
        <hr>
  
          </div>
          <% } %>
      </div>
    </main>
    <!-- page-content" -->
  </div>
  <!-- add before </body> -->
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
  <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <!-- page-wrapper -->  <!-- page-wrapper -->    
<script src="/js/script.js"></script>  
    
    
<!-- JS, Popper.js, and jQuery -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="/js/jquery.ripples-min.js"></script>

<script>
  FilePond.registerPlugin(
      FilePondPluginImagePreview,
      FilePondPluginImageResize,
      FilePondPluginFileEncode,
      FilePondPluginFileValidateSize,
      FilePondPluginFileValidateType
  );
    // https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-options
  FilePond.setOptions({
      stylePanelAspectRatio: 150 / 100,
      imageResizeTargetWidth: 140,
      imageResizeTargetHeight: 140,
      
  })
  FilePond.parse(document.body);
  // var deletemodal = document.getElementById('id01');
  //   window.onclick = function (event) {
  //     if (event.target == deletemodal) {
  //       deletemodal.style.display = "none";
  //     }
  //   }
  AOS.init({
      duration: 2000
  });
  // $(document).ready(function () {
      //Open
      // $('.button-modal2').click(function () {
      //   $('.modal2').addClass('is-open');
      // });
      //Close
    //   $('.modal2-close').click(function () {
    //     $('.modal2').removeClass('is-open');
    //   });
    // });
  function modal_display(modalnumber) {
      document.getElementById(modalnumber).classList.add("is-open");
  }
  function modal_close(modalnumber) {
      document.getElementById(modalnumber).classList.remove("is-open");
  }
  function myFunction() { 
    // document.getElementById("documentation").style.display="none";
  document.getElementById("investor").style.display="none";
  // document.getElementById("comment").style.display="none"; 
  document.getElementById("analytics").style.display="none"; 
  document.getElementById("content").style.display="none";  
	document.getElementById("dashboard").style.display="block"; 
}
// notification
  // const dismissAll = document.getElementById('dismiss-all');
  // const dismissBtns = Array.from(document.querySelectorAll('.dismiss-notification'));

  const notificationCards = document.querySelectorAll('.notification-card');

  // dismissBtns.forEach(btn => {
  //   btn.addEventListener('click', function (e) {
  //     e.preventDefault;
  //     var parent = e.target.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
  //     parent.classList.add('display-none');
  //   })
  // });

  // dismissAll.addEventListener('click', function (e) {
  //   e.preventDefault;
  //   notificationCards.forEach(card => {
  //     card.classList.add('display-none');
  //   });
  //   const row = document.querySelector('.notification-container');
  //   const message = document.createElement('h4');
  //   message.classList.add('text-center');
  //   message.innerHTML = 'All caught up!';
  //   row.appendChild(message);
  // })
  // end of notification
  var confirm = $('<div class="confirm-delete">Are you sure? <br><button type="submit">Yes</button> <a class="cancel-delete">Cancel</a></div>');

    $('.delete-managed').each(function () {
      var item = $(this);
      var delete_item = $('<button class="delete-item" style="background-color: transparent !important;border: none; padding: 0;"><i class="fa fa-trash showconfirm" style="font-size: 20px;"></i></button>');
      var confirmBox = confirm.clone();

      $('.cancel-delete', confirmBox).on('click', function (e) {
        e.preventDefault();
        confirmBox.hide('slide', { direction: 'right' });
      });
      $('.showconfirm', delete_item).on('click', function (e) {
        e.preventDefault();
        confirmBox.show('slide', { direction: 'left' });
      })
      item.append(delete_item);
      item.append(confirmBox);
    });
  $(".sidebar-dropdown > a").click(function() {
  $(".sidebar-submenu").slideUp(200);
  if (
    $(this)
      .parent()
      .hasClass("active")
  ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
  }
});
// $(document).ready(function() {
//   $('#commentTable').DataTable();
//   });
$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
});
  $(window).resize(function () {
    var window_width = $(window).width();
    if (window_width < 849)
      $('.page-wrapper').removeClass("toggled");
    else
      $('.page-wrapper').addClass("toggled");

  });
// function Graph(canvas) {
//   var ratio = window.devicePixelRatio || 1;

//   this.h = canvas.height;
//   this.w = canvas.width;

//   canvas.width *= ratio;
//   canvas.height *= ratio;
//   canvas.style.width = this.w + "px";
//   canvas.style.height = this.h + "px";

//   this.ctx = canvas.getContext("2d");
//   this.ctx.scale(ratio, ratio);
//   this.data = {};
//   this.keys = {};

//   var padding = 48;
//   var offset = 10;
//   var points = [];
//   var vstep, ystep, xstep;

//   this.format = function(v) {
//     return Number(v)
//       .toFixed(2)
//       .toLocaleString();
//   };

//   this.reset = function(ctx) {
//     points = [];
//     ctx.beginPath();
//     ctx.clearRect(0, 0, this.w, this.h);
//     ctx.lineWidth = 1;
//     ctx.textBaseline = "middle";
//     ctx.font = "300 12px Roboto Condensed";
//     ctx.strokeStyle = "#ccc";
//   };

//   this.drawGrid = function(ctx) {
//     ctx.fillStyle = "#333";
//     ctx.textAlign = "right";
//     for (var i = 0; i < vstep; i += 1) {
//       var target = i * ystep + offset;
//       var text = this.data.row.max - i * this.data.row.step;
//       ctx.moveTo(padding + offset, target);
//       ctx.fillText(this.format(text), padding, target);
//       ctx.lineTo(this.w, target);
//     }
//     ctx.stroke();
//   };

//   this.computePoints = function() {
//     for (var j = 0; j < this.keys.length; j += 1) {
//       var x = (padding * 2 + j * xstep) * 0.92;
//       var y = Math.round(
//         this.data.col[this.keys[j]] * this.h / this.data.row.max
//       );
//       y =
//         y - Math.round(this.data.col[this.keys[j]] / this.data.row.max * ystep);
//       y = this.h - y - ystep + offset;
//       points.push({ x: x, y: y });
//     }
//   };

//   this.drawPoints = function(ctx) {
//     ctx.beginPath();
//     ctx.fillStyle = "#0083ba";
//     ctx.strokeStyle = "#fff";
//     ctx.lineWidth = 5;
//     ctx.textAlign = "center";
//     for (var j = 0; j < points.length; j += 1) {
//       var point = points[j];
//       var x = (padding * 2 + j * xstep) * 0.92;
//       var y = this.h - vstep - offset;
//       ctx.fillText(this.keys[j], x, y);
//       ctx.moveTo(point.x, point.y);
//       ctx.closePath();
//       ctx.arc(point.x, point.y, 4, 0, 2 * Math.PI);
//     }
//     ctx.stroke();
//     ctx.fill();
//   };

//   this.drawBackground = function(ctx) {
//     ctx.beginPath();
//     ctx.fillStyle = "rgba(0, 200, 255, .2)";
//     var y = this.h - ystep + offset / 2;
//     ctx.moveTo(points[0].x, y);
//     for (var k = 0; k < points.length; k += 1) {
//       var point = points[k];
//       ctx.lineTo(point.x, point.y);
//     }
//     ctx.lineTo(points[points.length - 1].x, y);
//     ctx.fill();
//   };

//   this.drawLines = function(ctx) {
//     ctx.beginPath();
//     ctx.strokeStyle = "#0083ba";
//     ctx.lineWidth = 1;
//     ctx.fillStyle = "#fff";
//     ctx.moveTo(points[0].x, points[0].y);
//     for (var k = 0; k < points.length; k += 1) {
//       var point = points[k];
//       ctx.lineTo(point.x, point.y);
//     }
//     ctx.stroke();
//   };

//   this.draw = function(data) {
//     this.reset(this.ctx);
//     this.data = data;
//     this.keys = Object.keys(data.col);
//     vstep = Math.round(data.row.max / data.row.step) + 1;
//     ystep = Math.round(this.h / vstep);
//     xstep = Math.round(this.w / this.keys.length);
//     this.drawGrid(this.ctx);
//     this.computePoints(this.ctx);
//     this.drawLines(this.ctx);
//     this.drawBackground(this.ctx);
//     this.drawPoints(this.ctx);
//   };
// }

// function data() {
//   var c = {};
//   var r = { min: 0, max: 300, step: 50 };
//   for (var i = 0; i < 19; i += 1) {
//     var m = Math.round(i * (r.max / 19) + 15);
//     var pad = ("0" + i).substr(-2, 2);
//     c["20" + pad] = random(m, r.max - r.max / (i + 1));
//   }
//   function random(min, max) {
//     return Math.floor(Math.random() * (max - min + 1) + min);
//   }
//   return { col: c, row: r };
// }

// function redraw() { g.draw(data()) }
// var g = new Graph(document.querySelector("#c"));
// redraw();



</script>
</body>
</html>
